Session.vim
.config/nvim/spell/en.utf-8.add.spl
.config/peaclock/history/
__pycache__/
.config/emacs/bookmarks
.config/emacs/custom.el
.config/emacs/eln-cache/
.config/emacs/tree-sitter/
.config/emacs/projects
.config/emacs/elpa
.config/emacs/history
.config/emacs/recentf
.config/emacs/auto-save-list/
.local/share/applications/mimeinfo.cache
.screenlayout/screens.sh
.config/opencode/opencode.jsonc
.local/bin/prettypst
.local/bin/tex-fmt
.local/share/icons/hicolor/icon-theme.cache
.local/bin/poomer
.local/bin/flutter
.local/bin/dart
.local/share/applications/powdertoy-uk.co.powdertoy.tpt.desktop
.local/share/icons/hicolor/64x64/apps/powdertoy-powder.png
.local/share/icons/hicolor/64x64/mimetypes/application-vnd.powdertoy.save.png
.local/share/icons/hicolor/64x64/mimetypes/gnome-mime-application-vnd.powdertoy.save.png
.local/share/applications/battlenet.desktop
.local/share/applications/ubisoft-connect.desktop
.config/emacs/transient/history.el
.config/emacs/tramp
.local/bin/ical2orgpy
.config/emacs/projects.eld
