[Desktop Entry]
Name=Faugus
GenericName=Game Launcher
Exec=faugus %f
Icon=faugus
Type=Application
Terminal=false
MimeType=application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut;application/x-bat;text/x-ms-regedit;
Categories=Game;
StartupWMClass=faugus
