[Desktop Entry]
Name=Heroic Games Launcher
GenericName=Game Launcher
Exec=heroic
Icon=heroic
Type=Application
Terminal=false
MimeType=x-scheme-handler/heroic;
