[Desktop Entry]
Name=Org Agenda
Exec=sh -lc "emacsclient -a emacs -c -e '(progn (org-agenda nil (string ?a)) (when (and (fboundp (quote beed/org-agenda-live)) (not (bound-and-true-p beed/org-agenda-live-timer))) (beed/org-agenda-live)))'"
Icon=emacs
Type=Application
Terminal=false
