[Desktop Entry]
Name=Org Agenda
Exec=emacsclient -a emacs -c -e '(progn (unless beed/org-agenda-live-timer (beed/org-agenda-live)) (org-agenda nil "a"))'
Icon=emacs
Type=Application
Terminal=false
